		html, body{
			background: #cccccc;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 13px;
			
			min-width: 900px;
			height: 100%;
			margin: 0;
		}

		h1{
			font-family: Arial, Helvetica, sans-serif;
			margin: 0;
		}
		
		h2{
			font-size: 17px;
			margin: 0 0 20px 0;
		}
		
		h3{
			font-size: 14px;
			margin: 20px 0 20px 0;
		}

		hr{
			margin: 15px 0 15px 0;
		}
		
		li{
			margin: 0 0 8px 0;
		}
		
		table, th, td{
			border: 1px solid black;
			border-collapse: collapse;
			vertical-align: middle;
			margin: 0 auto 0 auto;
		}
		
		th {
			background: #616161;
			font-size: 15px;
			padding: 10px 6px 10px 6px;
		}
		
		td{
			background: white;
			font-size: 11px;
			padding: 4px;
		}
		
		a:link {	text-decoration: none; color: #474747;}
		a:visited {text-decoration: none; color: #780000;}
		a:hover {color: white;}
		
		

/*********************************************************************************************************************
**********************************************************************************************************************
			 _  _ ___   _   ___    ___  ___  _____   __  ___ ___   ___ _____ 
			| || | __| /_\ |   \  | _ )/ _ \|   \ \ / / | __/ _ \ / _ \_   _|
			| __ | _| / _ \| |) | | _ \ (_) | |) \ V /  | _| (_) | (_) || |  
			|_||_|___/_/ \_\___/  |___/\___/|___/ |_|   |_| \___/ \___/ |_|

**********************************************************************************************************************		
*********************************************************************************************************************/
		
/* HEADER */
					#headerbox{
						border-bottom: 3px solid black;
						background: #616161;
					
						width: 100%;
						height: 110px;
					}
					
					#headertext{			
						font-size: 70px;
						font-weight: 900;
						
						line-height: 110px;
						padding: 0 15px 0 15px;
					}

					#headertext a:link {text-decoration: none; color: black;}
					#headertext a:visited {text-decoration: none; color: black;}
					#headertext a:hover {color: white;}
		

		
		
		
/* MAINWRAP */		
					#mainwrap{
						padding: 20px;
					}
					
					
					
					
/*********************************************************************************************************************
**********************************************************************************************************************
			 ___ _____   __   ___ _      _   ___ ___ ___ ___ 
			|   \_ _\ \ / /  / __| |    /_\ / __/ __| __/ __|
			| |) | | \ V /  | (__| |__ / _ \\__ \__ \ _|\__ \
			|___/___| \_/    \___|____/_/ \_\___/___/___|___/

**********************************************************************************************************************		
*********************************************************************************************************************/

					.textblock {
						border: 0px solid green;
					}
					
					.textblock span{
						font-family:"Courier New", Courier, monospace;
						color: black;
						
						padding: 2px;
						margin: 0 4px 0 4px;
					}
					
					.indented_textblock{
						border: 0px solid purple;
						margin: 0 50px 0 50px;
					}
					
					.textblock p{
						border: 0px solid purple;
						margin: 0 0 0 50px;
						padding: 0;
					}
					
					.p_div{
						border: 0px solid yellow;
						background: #616161;
						margin: 25px 0 0 50px;
						overflow: hidden;
					}
					
					.codeblock {
						border: 0px solid red;
						background: #616161;
						font-family:"Courier New", Courier, monospace;
						color: black;
						
						width: 700px;
						padding: 15px;
						margin: 25px auto 25px auto;
					}
					
					.codeblock span{
						color: #780000;
						margin: 0;
					}




					
/*********************************************************************************************************************
**********************************************************************************************************************
			  ___ _____ _  _ ___ ___    ___ _      _   ___ ___ ___ ___ 
			 / _ \_   _| || | __| _ \  / __| |    /_\ / __/ __| __/ __|
			| (_) || | | __ | _||   / | (__| |__ / _ \\__ \__ \ _|\__ \
			 \___/ |_| |_||_|___|_|_\  \___|____/_/ \_\___/___/___|___/

**********************************************************************************************************************		
*********************************************************************************************************************/

/* SECTION WRAPPER */
					.sectionwrap{
						border: 0px solid white;
						background: #9a9a9a;
						padding: 15px;
					}

/* IMAGE THUMBNAIL */					
					.thumbwrap_outer{
						border: 0px solid red;
						overflow:hidden;
						
						margin: 0 0 0 0;
					}
					
					.thumbwrap_inner{
						border: 0px solid blue;
						
						float: left;
						margin: 5px;
						padding: 4px;

						width: 296px;
					}
				
					.thumb{
						border: 0px solid purple;
						background: #780000;
						
						float: left;
						opacity: 1.0;
											
						width: 80px;
						height: 80px;	
						overflow: hidden
					}

					.thumb img{
						height: 200%;
					}

					.thumb img:hover{
						opacity: 0.8;
					}
				
					.thumbcap{
						border: 0px solid green;
						font-size: 10px;
						
						float: left;
						text-align: justify;
						text-justify: inter-word;
						padding: 6px;
						
						width: 200px;
					}
					
													/* THUMBNAIL FORMAT */
													
/*																			<div class=thumbwrap_inner>
																	
																					<!-- THUMBNAIL IMAGE -->
																					<div class=thumb><a href="IMAGE URL HERE"><img src="IMAGE URL HERE"></a></div>
																		
																					<!-- THUMBNAIL CAPTION -->
																					<div class=thumbcap>
																						THUMBNAIL CAPTION GOES HERE.
																					</div>
																
																			</div>
*/